<%- model_class = Mem -%>
<div class="page-header">
  <h1>Memy</h1>
</div>
    <div class="mem_container">
    <% @mems.each do |mem| %>
        <article class="memy">
          <%= image_tag(mem.image.url) %>
           <h2><%= mem.name%> </h2>
          <p><%= mem.description%> </p>


          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_mem_path(mem), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      mem_path(mem),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </article>

      </tr>
    <% end %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_mem_path,
            :class => 'btn btn-primary' %>
    </div>
